---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
header:
  overlay_image: ../images/sia.png
  overlay_filter: 0.1 # same as adding an opacity of 0.5 to a black background
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

<header>
  <h1>Talks</h1>
</header>

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

<header>
  <h1>Posters</h1>
</header>

{% for post in site.teaching reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
